---
layout: default
---

<div class="container">

  <div class="row mb-6">
    <div class="col-md-5">
      <p class="tn-1 mb-3">I'm a designer and developer working in Santa Cruz, California. I am currently working with the über-talented team at <a href="#" class="underline">Octopus</a>. I am at home designing products and geeking out over CSS structure, and I excel where design meets code.</p>
      <p class="tn-1"><a href="#" class="underline">More About Me</a></p>
    </div>
  </div>

  {% for work in site.work %}

    <div class="">
      <div class="tn-2 cg-3">01</div>
      <a href="{{ work.url | relative_url }}" title="{{ work.title }}">{{ work.title }}</a>
    </div>

    <div class="">
      <div class="tn-2 cg-3">01</div>
      <a href="{{ work.url | relative_url }}" title="{{ work.title }}">{{ work.title }}</a>
    </div>

  {% endfor %}

  <!--
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        {{ post.url  }}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

</div>
