@charset 'utf-8';

// Simplon Norm Medium.
@font-face {
  font-family: 'Simplon Norm';
  src: url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.eot');
  src: url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@import 'settings';
@import 'interactions';
@import 'node_modules/decent-scss/modules/all';

@import 'global/base';
@import 'global/markdown';
