@charset 'utf-8';

// Google Fonts – Abel.
@import 'https://fonts.googleapis.com/css?family=Abel';

// Simplon Norm Medium.
@font-face {
  font-family: 'Simplon Norm';
  src: url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.eot');
  src: url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/chrsgrffth/fonts/SimplonNorm-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@import 'settings';
@import 'node_modules/decent-scss/modules/all';

* { box-sizing: border-box; }

.heading {
  @extend .display;
  @extend .uppercase;
  @extend .tracked;
}