<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <title>Christian Griffith</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <header id="global-header" class="px-1 py-2 sm-px-2 lg-py-4 wp-100 relative z-8">
    <div class="container">
      <div class="md-flex items-center">
        <h1>
          <a href="/" class="d-block p-1 heading tn-1 c-black antialiased smooth">Christian Griffith</a>
        </h1>

        <div class="md-flex item-right ta-right">
          <p>{% if site.github_username %}<a href="//github.com/{{ site.github_username }}" class="p-1 display tn-2 c-black antialiased">Github</a>{% endif %}</p>
           <p>{% if site.instagram_username %}<a href="//instagram.com/{{ site.instagram_username }}" class="p-1 display tn-2 c-black antialiased">Instagram</a>{% endif %}</p>
           <p>{% if site.dribbble_username %}<a href="//dribbble.com/{{ site.dribbble_username }}" class="p-1 display tn-2 c-black antialiased">Dribbble</a>{% endif %}</p>
        </div>
      </div>
    </div>
  </header>

  <div id="main" class="relative z-2">
    {{ content }}
  </div>

  <script src="/js/main.js"></script>
  <script>require('source/js/initialize.js');</script>
</body>
</html>