---
layout: default
---

<article class="sm-pt-4 md-pt-5 lg-pt-8 px-2 animate">
  <section class="container mb-2">
    <div class="md-col-6 md-push-2">
      <h1 class="display t-1 md-t-4 c-black mb-3 stagger-item">{{ page.title }}</h1>
      <div class="markdown stagger-item">{{ content }}</div>
    </div>
  </section>
  <section>
    <div class="container mb-4">
    <div class="flex items-baseline relative pt-3 pb-4 animate">
      <div class="col-2 heading antialiased tn-2 cg-4 stagger-item">Share</div>
      <div class="flex stagger-item mln-1">
        <a class="heading tn-2 p-1 c-black antialiased ">Twitter</a>
        <a class="heading tn-2 p-1 c-black antialiased ">Facebook</a>
      </div>
    </div>
  </section>
</article>
