---
layout: default
---

<main class="pt-7 px-1 px-sm-2 animate">
  <div class="container">
    {% for work in site.work %}
      <a href="{{ work.url | relative_url }}" title="{{ work.title }}" class="flex items-baseline relative px-2 py-3 page-transition mouseenter-focusIn relative">
        <div class="cover absolute wp-100 hp-100 cbg-white z-1 a-0"></div>
        <div class="col-2 heading antialiased tn-2 cg-4 stagger-item">0{{ forloop.index }}</div>
        <div>
          <h1 class="heading t-0 md-t-1 mb-1 antialased c-black stagger-item">{{ work.title }}</h1>
          <div class="heading tn-2 cg-4 antialiased stagger-item">{% for role in work.roles %}{{ role }}{% if forloop.last != true %}, {% endif %}{% endfor %}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</main>
