---
layout: default
---

<main>
  <section class="py-7">
    <div class="container">
      {% for post in site.posts %}
        <a href="{{ post.url | relative_url }}" class="d-block md-col-6 sm-px-2 mb-5 animate mouseenter-focusIn" data-axis="x">
          <div class="stagger-item">
            <h2 class="display tn-2 cg-4 antialiased mb-2">07 Jan 2017</h2>
            <h1 class="display t-1 c-black md-t-3">{{ post.title }}</h1>
            {% if forloop.first %}
              <div class="markdown cg-2 antialiased mt-2">{{ post.preview }}</div>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
</main>
