<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <title>Christian Griffith</title>
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/js/vendor/jquery.zoomooz.min.js"></script>
</head>

<body>
  <header id="global-header" class="px-2 py-2 py-sm-4 wp-100">
    <div class="container">
      <div class="flex flex-start">
        <div class="col-8 px-1">
          <h1>
            <a href="/" data-transition="up" class="d-block heading tn-2 tn-md-1 c-black antialiased">Christian Griffith</a>
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div id="smoothstate">
    {{ content }}
  </div>
</body>
</html>